.modal-body {
    .desc {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #4a4a4a;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .order-confirmation {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #4a4a4a;
        span{
            display: block;
            color: #F36633;
            font-size: 16px;
        }
    }
}

.back_product{
    min-width: 188px;
}