<section class="login-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-12">
             <div class="login-section">
                <div class="form-with-footer">
                   <div class="form">
                      <!-- header link forms -->
                      <div class="ti-box">
                         <a href="#">
                         <img [src]="'assets/img/ti_order_logo.png'" alt="Ti OrderPoint">
                         </a>
                      </div>
                      <div class="label">
                         <h2> {{ 'signInPage.title' | translate }}</h2>
                         <p>
                            {{ 'signInPage.desc' | translate }}
                         </p>
                      </div>
                      <!-- header link forms end-->
                      <!-- Login Form -->
                      <form class="login-form" [formGroup]="loginForm!" [ngClass]="{'y-auth-loading':loading}"
                      (ngSubmit)="login()">
                      <ytbe-form-field name="Username" [useLabel]="false" placeholder=" " [messages]="{ required: ('signInPage.formFields' | translate)[0]?.error }">
                         <div class="form-group">
                            <input formControlName="email" type="text" required autocomplete="off">
                            <label> <img [src]="'assets/img/Sign_Form/username.png'"
                               alt="Username Icon">
                            {{ ('signInPage.formFields' | translate)[0]?.label }}</label>
                         </div>
                      </ytbe-form-field>
                      <ytbe-form-field name="Password" [useLabel]="false" placeholder=" " [messages]="{ required: ('signInPage.formFields' | translate)[1]?.error }">
                         <div class="form-group">
                            <input formControlName="password" placeholder=" " type="password"
                               autocomplete="off">
                            <label> <img [src]="'assets/img/Sign_Form/key.png'" alt="Key Icon">
                            {{ ('signInPage.formFields' | translate)[1]?.label }}</label>
                         </div>
                      </ytbe-form-field>
                      <div class="form-group">
                         <button class="submit" type="submit" [disabled]="loading || !loginForm!.valid">
                         {{ ('signInPage.actions' | translate)[0]?.title }}
                         </button>
                      </div>
                      </form>
                      <!-- Login Form End -->
                      <!-- <div class="forget-pass">
                         <a routerLink="../forget-password">
                         {{ ('signInPage.actions' | translate)[1]?.title }}
                         </a>
                      </div> -->
                   </div>
                   <!-- Footer Links -->
                   <div class="footer-bx">
                      <a class="logo">
                      <img [src]="'assets/img/Qpharma-logo-footer.png'" alt="Qpharma">
                      </a>
                      <div class="copyright">
                         © QPharma Ti ORDERPOINT 2022
                      </div>
                   </div>
                </div>
             </div>
             
          </div>
       </div>
    </div>
    <!-- <div class="forground">
       <div class="right-bg"></div>
       <div class="left-bg"></div>
       </div> -->
 </section>