.modal-body {
    .title{
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
        text-align: center;
    }
    .details {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
    }
}

.back_product{
    min-width: 188px;
}