@import "variables";
@import "mixins";

.main {
    // padding-top: 30px;
    margin: 30px auto;
    width: 978px;
}
span {
    display: block;
}

.add-to-cart-control {
    padding: 5.5px;
    border: none;
}
.download-btn {
    opacity:0.25;
    &.downloadable {
        opacity: 1;
    }
}

.row {
    margin-left:auto;
    margin-right:auto;
    width: 700px;
    min-width:700px;
}
@media (min-width: 1200px) {
    .row {
        margin-left:auto;
        margin-right:auto;
        width: 880px;
        min-width:880px;
    }
}

.filterBy {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 3px 20px;
    height: 40px;
    margin-left: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #4a4a4a;
    height: 26px;
    cursor: pointer;
    &.show {
        svg {
            transform: rotate(180deg);
        }
    }
    svg {
        position: absolute;
        top: 12px;
        right: 10px;
    }
}

.item-menu {
    padding-top: 0;
    transform: translate(45px, 33px) !important;
    max-height: 200px;
    overflow: auto;
}
.dropdown-toggle::after {
    display: none;
}
.item-num {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: theme-var($--theme-background);
    padding: 6px !important;
    &:hover {
        background: theme-var($--theme-background);
        color: #fff;
    }
}

.no-item {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px; 
    line-height: 16px;
    color: #4a4a4a;
}

img.thumb {
    max-height: 30px;
}

.clear-search {
    position: absolute;
    right: 35px;
    top: 3px;
}

.product-title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #4a4a4a;
    max-width: 160px;
    cursor: pointer;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-height: 54px;
  }

.item-id {
    margin-top: 7% !important;
}